{% extends 'catalog/home.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Каталог</h1>
</div>
<div class="row text-center">
    <div class="col-12 mb-5">
        <a class="btn btn-primary" href="{% url 'product_create' %}">Добавить продукт</a>
    </div>
    {% for product in product_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <img class="card-img-top"
                     {# src="/media/{{ product.photo }}" #}
                     src="{{ product.photo|mymedia }}"
                     alt="Card image cap">
                <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">₽ {{ product.price }}</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>{{ product.description|truncatewords:100 }}</li>
                </ul>
                <a class="btn btn-outline-primary" href="{% url 'product' product.pk %}">Описание</a>
                <a class="btn btn-outline-primary" href="{% url 'product_update' product.pk %}">Редактировать</a>
                <a class="btn btn-outline-primary" href="{% url 'product_delete' product.pk %}">Удалить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}