<ul class="list-unstyled">
    <li><a href="/" class="text-white">Каталог</a></li>
    <li><a href="/contacts/" class="text-white">Контакты</a></li>
    <li><a href="/blog/" class="text-white">Блог</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'users:profile' %}" class="text-white">Профиль</a></li>
    <li><a href="{% url 'users:logout' %}" class="text-white">Выход</a></li>
    {% else %}
    <li><a href="{% url 'users:login' %}" class="text-white">Вход</a></li>
    <li><a href="{% url 'users:register' %}" class="text-white">Регистрация</a></li>
    {% endif %}
</ul>